<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Page 1</title>
    <style>
        body{
            text-align: center;
            }
    </style>
</head>
<body>
<!--<h1>Check New Year</h1>-->
<!--    {% if head %}-->
<!--        <h2>YES </h2>-->
<!--    {%else%}-->
<!--        <h2>NO </h2>-->
<!--    {% endif %}-->
<!--    <h1>Names</h1>-->
<!--    <ul>-->
<!--        {% for name in names%}-->
<!--        <li>{{name}}</li>-->
<!--        {%endfor%}-->

<!--    </ul>-->
<p>Information about nidhish singhal</p>
        <a href="{{url_for('more')}}">More Data</a>
</body>
</html>